

:root {
  --text2: #F9F9F9;
  --gray-border: #3E3E3E;
  --gray-border-hover: #505050;
  --gray-menu-button: #7E7E7E;
  --gray-menu-button-hover: #232323;
  --navbar-height: 4rem;
  --gray-text-hover: #8F8F8F;
  --gray-icon: #A0A0A0;
}


  
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--navbar-height);
    background-color: var(--primary);
    
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegúrate de que el header esté por encima de otros elementos */
  }

.menu__wrapper {
  display: flex;
  position: fixed;
  justify-content: space-between;
  z-index: 2;
  gap: 1.5rem;
  width: 100%;
  max-width: 80rem;
  padding: 0px 1rem;
  align-items: center;
  height: var(--navbar-height);
  
 
}

.menu__bar {
  display: flex;
  align-items: center;
}

.input-navbar {
  border: 0.5px solid white;
  color: white;
  font-size: 1rem;
  padding: 5px;
  border-radius: 5px;
  background: transparent;
  transition: border-color 0.2s;
  flex: 1; /* Para que el input ocupe todo el espacio disponible */
}

.tick-icon {
  margin-left: 10px; /* Espacio entre el input y el icono */
  color: white;
  font-size: 1rem; /* Tamaño del icono */
}

.logo {
  cursor: pointer;
 
  display: flex;
  align-items: center;
  max-height: 4rem;
}

.logo img {
  height: 5rem;
}

.navigation {
  margin-left: 2rem;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  gap: 1rem;
}

.navigation > li {
  display: flex;
  position: relative;
  cursor: pointer;
  align-items: center;
  min-height: 2.25rem;
}

.navigation > li > a {
  color: var(--text2);
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

.navigation > li > a:hover {
  color: var(--);
}

.navigation > li > button {
  color: var(--text2);
  transition: all 0.3s ease;
  text-decoration: none;
  border: none;
  cursor: pointer;
  z-index: 1;
  margin-right: -0.25rem;
  align-items: center;
  min-height: 2.25rem;
  font-size: 14px;
  gap: 0.25rem;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  flex-wrap: nowrap;
  padding: 0.25rem 0.7rem;
  white-space: nowrap;
  background: none;
  display: flex;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.navigation > li > button > svg {
  margin-top: 2px;
  fill: var(--text2);
  transition: all 0.2s ease-in-out;
}

.navigation > li:hover > button svg {
  fill: var(--);
  transform: rotate(0.5turn);
}

.navigation > li:hover > button {
  color: var(--);
}

.navigation > li:hover .dropdown {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.99) translateY(-0.7em);
    transform-origin: top;
  }

  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

/* dropdown menu */
.dropdown__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 4rem;
}

.dropdown {
  border-radius: 0.5rem;
  display: none;
  padding: 0.5rem;
  width: 100%;
  max-width: 600px;
  border: 1px solid var(--gray-border);
  background-color: var(--background);
  z-index: 2;
  animation: fadeIn 0.2s ease-in-out;
}

.list-items-with-description li {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.list-items-with-description li:hover {
  background-color: var(--social-background-hover);
  border-radius: 0.3rem;
}

.icon-wrapper svg {
  color: var(--gray-text-hover);
}

.list-items-with-description li:hover svg {
  color: var(--text2);
}

.list-items-with-description li .icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  padding: 0.4rem;
  height: 1rem;
  width: 1rem;
  min-width: 2rem;
  min-height: 2rem;
  pointer-events: all;
  background-color: var(--gray-menu-button-hover);
}

.item-title {
  gap: 0.5rem;
}

.item-title h3 {
  font-weight: 500;
  font-size: 14px;
  color: var(--text);
}

.list-items-with-description li:hover .item-title p {
  color: var(--gray-text-hover);
}

.item-title p {
  font-size: 12px;
  white-space: nowrap;
  color: var(--gray-menu-button);
}

/* login sign-up buttons */
.action-buttons {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  flex-wrap: nowrap;
}

.action-buttons a {
  text-decoration: none;
  white-space: nowrap;
  padding: 0.25rem 0.5rem;
  transition: all 0.2s ease-in-out;
  line-height: 1.25rem;
}

.secondary {
  background: none;
  color: var(--text2);
  outline: none;
  border-radius: 0.5rem;
}

.secondary:hover {
  border: 1px solid var(--primary);
}

.primary {
  color: var(--text2);
  border-radius: 0.5rem;
  background-color: var(--primary-dark);
  border: 1px solid var(--primary);
  padding: 0.5rem 1rem;
}

.primary:hover {
  background-color: var(--primary-darker);
}

.burger-menu {
  display: none;
  outline: none;
  border: none;
  
  background-color: transparent;
}

.jai {
  display: none;
}


@media (max-width: 44rem) {
  .hide {
    display: none;
  }
  .jai{
    display: block;
  }

  .burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    padding: 0.5rem;
    height: 2.5rem;
    width: 2.5rem;
    min-width: 2.5rem;
    min-height: 2.5rem;
    pointer-events: all;
  }

  .burger-menu:hover {
    background-color: var(--gray-menu-button-hover);
  }

  .burger-menu:focus {
    outline: 1px solid var(--primary);
  }

  .burger-menu svg {
    height: 1.5rem;
    stroke: var(--gray-menu-button);
    width: 1.5rem;
  }

  .burgermenuDropdown {
    display: none;
    margin-top: 150px;
    border: 1px solid var(--gray-border);
    padding: 0.5rem;
    width: 100%;
    display: flex;
    gap: 2rem;
    animation: fadeIn 0.2s ease-in-out;
    z-index: 2;
    border-radius: 0.5rem;
  }

  .burgermenuDropdown.show {
    display: flex;
  }
}
.mobile-menu {
  position: fixed; /* Cambiado a fixed para que ocupe toda la pantalla */
  height: 100%; /* 100% del alto de la pantalla */
  top: 0;
  right: 0;
  width: 100%; /* 100% del ancho de la pantalla */
  background-color: rgba(0, 0, 0, 0.9); /* Fondo negro */
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 999; /* Asegúrate de que el menú esté por encima de otros elementos */
}

.mobile-menu.visible {
  transform: translateX(0);
}

.burger-menu {
  background: none;
  border: none;
  cursor: pointer;
}

.menu-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.menu-items ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.menu-items ul li {
  margin-bottom: 20px;
}

.menu-items ul li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff; /* Letras blancas */
  font-size: 18px;
}

.menu-items ul li a:hover {
  color: rgba(255, 255, 255, 0.7); /* Letras medio blancas con menos opacidad */
}
.close-menu {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
}