

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
    font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #232323;
  color: whitesmoke;
}
:root {
  --primary: #605DFF;
  --primary-dark: #4a00e0;
  --primary-light: #5DA8FF;
  --secondary: #1D1D1D;
  --social-background: #E9E9E9;
  --social-background-hover: #dddddd;
  --text: #1F2346;
  --white: #FFFFFF;
  --violet: #8e2de2;
  --background: #1C1C1C;
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  padding: 0 1rem; /* Añade padding lateral para evitar que el contenido toque los bordes de la pantalla */
  max-width: 1200px; /* Ajusta el valor según el tamaño máximo deseado */
  width: 100%; /* Asegura que el contenedor ocupe el 100% del ancho disponible */
  box-sizing: border-box; /* Incluye el padding en el ancho y alto del contenedor */
  margin-top: 10px;
}

.imggrande{

  width: 100%;
}