

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
    font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #232323;
  color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  padding: 0 1rem; /* Añade padding lateral para evitar que el contenido toque los bordes de la pantalla */
  max-width: 1200px; /* Ajusta el valor según el tamaño máximo deseado */
  width: 100%; /* Asegura que el contenedor ocupe el 100% del ancho disponible */
  box-sizing: border-box; /* Incluye el padding en el ancho y alto del contenedor */
  margin-top: 10px;
}

.imggrande{

  width: 100%;
}